
body { font-family: Helvetica, Arial, sans-serif; font-size: 0.9em; font-weight: normal; background: #1f1f1f url("../img/bg.jpg") top left repeat-x; margin: 0; padding: 0; border: none; color: #FFFFFF; }
	

#resultContainer {border : 0px solid #FAF;height:400px;width:100%;}

.ideaNodeTitle {
	font-family: Helvetica, Arial, sans-serif;
	border : 1px solid white;
	-moz-border-radius: 8px 0px 8px 8px;
	padding:3px;
	margin:3px;
} 